In [1]:
import geopandas as gpd

In [2]:
tree_df = gpd.read_file("../data/geo_data_trees.geo.json")

In [3]:
cols_save = ['Name', 'Carbon Storage (kg)', 'Total Annual Benefits (eur/yr)']
tree_df = tree_df[cols_save]
tree_df

,Name,Carbon Storage (kg),Total Annual Benefits (eur/yr)
0,Acer pseudoplatanus,12,0.21
1,Acer pseudoplatanus,12.9,0.23
2,Acer pseudoplatanus,16.2,0.25
3,Acer pseudoplatanus,25.7,0.34
4,Cupressus,448.2,1.85
...,...,...,...
12508,Philadelphus,396.2,2.11
12509,Forsythia x intermedia,320.9,2.34
12510,Aucuba japonica,356.2,1.46
12511,Osmanthus fragrans,240.7,1.17
12512,Total,5484735,25099

In [4]:
tree_df['count'] = tree_df.groupby(['Name'])['Name'].transform('count')
tree_df = tree_df.sort_values(by='count', ascending=False)

In [5]:
top_list = ['Celtis australis', 'Aesculus hippocastanum', 'Carpinus betulus', 'Tilia cordata', 'Platanus x hispanica', 'Tilia x europaea', 'Acer campestre', 'Cupressus', 'Sophora japonica']
def replace_species(x):
    if x in top_list:
        return x
    else:
        return "other"
tree_df['Name'] = tree_df['Name'].apply(replace_species)

In [6]:
var_left = 'Carbon Storage (kg)';
var_right = 'Total Annual Benefits (eur/yr)';
tree_df[var_left] = tree_df[var_left].astype(float);
tree_df[var_right] = tree_df[var_right].astype(float);

df_final  = tree_df.groupby("Name").agg({var_left: "sum", var_right: "sum"});
#df_final = tree_df.groupby("Name")[[var_right, var_left]].sum();

In [7]:
#cols_save = ['Name', 'Storage per species', 'Euro saved per species'];
#tree_df = tree_df2[cols_save]
df_final.to_csv("../data/ass5.csv")

normalizzo i valori della colonna var_left e della colonna var_right. Lo scopo e' che la somma degli elementi di var_left sia pari alla somma degli elementi di var_right. Cosi fancedo il grafico sankey avra due colonne pari all'inizio e alla fine del flusso

In [8]:
df = df_final;
def check_sums():
    print(df[var_left].sum())
    print(df[var_right].sum())
check_sums()

10969475.4
50196.89

In [9]:
"""
def normalizer(elem):
    return (elem - min_v) / ((max_v - min_v));
max_v = df[var_left].max(); min_v = df[var_left].min();
df[var_left] = df[var_left].apply(normalizer);
max_v = df[var_right].max(); min_v = df[var_right].min();
df[var_right] = df[var_right].apply(normalizer);
"""
a=1

In [10]:
ratio = df[var_left].sum() / df[var_right].sum()
df[var_right] = df[var_right].apply(lambda elem : elem * ratio)

In [11]:
df = df.round(decimals=1)
df.to_csv("../data/ass5.csv")

In [12]:
check_sums()

10969475.4
10969475.2

In [13]:
df

                        Carbon Storage (kg)  Total Annual Benefits (eur/yr)
Name
Acer campestre                      36849.8                         55663.7
Aesculus hippocastanum             438610.9                        461946.2
Carpinus betulus                    62980.1                        111893.4
Celtis australis                    70736.5                        372904.4
Cupressus                          198211.0                        174838.5
Platanus x hispanica              1083313.4                        621852.6
Sophora japonica                    80562.6                        123680.8
Tilia cordata                       65967.6                        131748.9
Tilia x europaea                   406394.2                        370957.3
other                             8525849.3                       8543989.4

In [14]:
ratio

218.5289845645816