In [1]:
import geopandas as gpd
import pandas as pd 
#pd.set_option("display.max_rows", None)

In [2]:
circo_df = gpd.read_file("data/circoscrizioni.json")
circo_df.head()
#circo_df = circo_df[['numero_cir', 'nome', 'geometry']]
#circo_df.head()

,numero_cir,area,perimetro,nome,fumetto,geometry
0,2,15712181,17850,MEANO,Circoscrizione n. 2 - MEANO,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
1,3,36949609,38485,BONDONE,Circoscrizione n. 3 - BONDONE,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
2,4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
3,6,13199398,20575,ARGENTARIO,Circoscrizione n. 6 - ARGENTARIO,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
4,11,3073349,10962,S.GIUSEPPE-S.CHIARA,Circoscrizione n. 11 - S.GIUSEPPE-S.CHIARA,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [4]:
df = gpd.read_file("data/geo_data_trees.geo.json")
tree_df = df[["Name", "Height (m)", "Gross Carbon Sequestration (kg/yr)", "Pollution Removal (g/yr)", "Crown Height (m)", "Crown Width (m)", "Canopy Cover (m2)", "Leaf Area (m2)", "Leaf Biomass (kg)", "geometry"]]
tree_df.head()

,Name,Height (m),Gross Carbon Sequestration (kg/yr),Pollution Removal (g/yr),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),geometry
0,Acer pseudoplatanus,3.5,1.1,5.1,1,1.5,1.8,3.5,0.2,POINT (11.07201 46.05160)
1,Acer pseudoplatanus,5,1.1,6.1,1.5,1.5,1.8,4.2,0.3,POINT (11.07211 46.05154)
2,Acer pseudoplatanus,4.5,1.3,5.8,1.3,1.5,1.8,4,0.3,POINT (11.07196 46.05167)
3,Acer pseudoplatanus,5,1.6,10.3,1.5,2.5,4.9,7.1,0.5,POINT (11.15017 46.06378)
4,Cupressus,8,11.1,9.6,2.4,1.5,1.8,6.6,1.5,POINT (11.07155 46.05230)

In [5]:
circo_geometry_col = circo_df["geometry"]

def get_circoscrizione(tree_point):
    for idx_polygon, polygon in circo_geometry_col.items():
        if tree_point == None: return "None"
        if tree_point.within(polygon):
            return  circo_df['nome'][idx_polygon]
        

tree_df2 = tree_df.copy()
tree_df2['circoscrizione'] = ""
tree_df2['circoscrizione']= tree_df2['geometry'].map(get_circoscrizione)
tree_df2 = tree_df2.drop(columns=['geometry'])

tree_df2.head()

,Name,Height (m),Gross Carbon Sequestration (kg/yr),Pollution Removal (g/yr),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),circoscrizione
0,Acer pseudoplatanus,3.5,1.1,5.1,1,1.5,1.8,3.5,0.2,SARDAGNA
1,Acer pseudoplatanus,5,1.1,6.1,1.5,1.5,1.8,4.2,0.3,SARDAGNA
2,Acer pseudoplatanus,4.5,1.3,5.8,1.3,1.5,1.8,4,0.3,SARDAGNA
3,Acer pseudoplatanus,5,1.6,10.3,1.5,2.5,4.9,7.1,0.5,POVO
4,Cupressus,8,11.1,9.6,2.4,1.5,1.8,6.6,1.5,SARDAGNA

In [6]:
occurrences = dict()
for i in range(df.shape[0]):
    name = df.iloc[i][1]
    if name in occurrences:
        occurrences[name]=occurrences[name]+1
    else:
        occurrences[name]=1
        
trees_by_occurrences = sorted(occurrences.items(), key=lambda x:x[1], reverse=True)

top_six = []
for i in range(6):
    top_six.append(trees_by_occurrences[i][0])
    
print(top_six)

['Celtis australis', 'Aesculus hippocastanum', 'Carpinus betulus', 'Tilia cordata', 'Platanus x hispanica', 'Tilia x europaea']

In [7]:
ass2_df = tree_df2[tree_df2['Name'].isin(top_six)]
#ass2_df = tree_df2.where(tree_df2['Name'] in top_six)
ass2_df = ass2_df.sort_values(['Name'])
ass2_df.head(500)

,Name,Height (m),Gross Carbon Sequestration (kg/yr),Pollution Removal (g/yr),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),circoscrizione
5904,Aesculus hippocastanum,11,22.2,658.8,3.3,11,95,454.1,31.8,S.GIUSEPPE-S.CHIARA
5895,Aesculus hippocastanum,3.5,1.3,9.6,1,2,3.1,6.6,0.5,S.GIUSEPPE-S.CHIARA
5894,Aesculus hippocastanum,11,22.2,750.3,3.3,11,95,517.2,36.2,S.GIUSEPPE-S.CHIARA
5893,Aesculus hippocastanum,4,1.6,8.199999999999999,1.2,2,3.1,5.7,0.4,S.GIUSEPPE-S.CHIARA
5867,Aesculus hippocastanum,11,22.2,750.3,3.3,11,95,517.2,36.2,CENTRO STORICO PIEDICASTELLO
...,...,...,...,...,...,...,...,...,...,...
9688,Aesculus hippocastanum,5,4.7,73.8,1.5,5,19.6,50.8,3.6,OLTREFERSINA
8922,Aesculus hippocastanum,9,13.4,349.9,2.7,8,50.3,241.2,16.9,S.GIUSEPPE-S.CHIARA
8923,Aesculus hippocastanum,9,13.4,349.9,2.7,8,50.3,241.2,16.9,S.GIUSEPPE-S.CHIARA
8929,Aesculus hippocastanum,10,9,533.4,3,10,78.5,367.7,25.7,S.GIUSEPPE-S.CHIARA
8930,Aesculus hippocastanum,10,17.6,554.6,3,10,78.5,382.3,26.7,S.GIUSEPPE-S.CHIARA

In [21]:
ass2_df = ass2_df.rename(columns={"Height (m)": "Height", 
                                  "Gross Carbon Sequestration (kg/yr)": "CO2",
                                  "Pollution Removal (g/yr)": "Pollution",
                                  "Crown Height (m)": "Crown_height",
                                  "Crown Width (m)": "Crown_width",
                                  "Canopy Cover (m2)": "Canopy", 
                                  "Leaf Area (m2)": "Leaf_area",
                                  "Leaf Biomass (kg)": "Leaf_biomass"})
ass2_df.head()

,Name,Height,CO2,Pollution,Crown_height,Crown_width,Canopy,Leaf_area,Leaf_biomass,circoscrizione
5904,Aesculus hippocastanum,11.0,22.2,658.8,3.3,11.0,95.0,454.1,31.8,S.GIUSEPPE-S.CHIARA
5895,Aesculus hippocastanum,3.5,1.3,9.6,1.0,2.0,3.1,6.6,0.5,S.GIUSEPPE-S.CHIARA
5894,Aesculus hippocastanum,11.0,22.2,750.3,3.3,11.0,95.0,517.2,36.2,S.GIUSEPPE-S.CHIARA
5893,Aesculus hippocastanum,4.0,1.6,8.2,1.2,2.0,3.1,5.7,0.4,S.GIUSEPPE-S.CHIARA
5867,Aesculus hippocastanum,11.0,22.2,750.3,3.3,11.0,95.0,517.2,36.2,CENTRO STORICO PIEDICASTELLO

In [22]:
ass2_df = ass2_df.astype({"Height":"float",
                "CO2":"float",
                "Pollution":"float",
                "Crown_height":"float",
                "Crown_width":"float",
                "Canopy":"float",
                "Leaf_area":"float",
                "Leaf_biomass":"float"})
ass2_df.head()

,Name,Height,CO2,Pollution,Crown_height,Crown_width,Canopy,Leaf_area,Leaf_biomass,circoscrizione
5904,Aesculus hippocastanum,11.0,22.2,658.8,3.3,11.0,95.0,454.1,31.8,S.GIUSEPPE-S.CHIARA
5895,Aesculus hippocastanum,3.5,1.3,9.6,1.0,2.0,3.1,6.6,0.5,S.GIUSEPPE-S.CHIARA
5894,Aesculus hippocastanum,11.0,22.2,750.3,3.3,11.0,95.0,517.2,36.2,S.GIUSEPPE-S.CHIARA
5893,Aesculus hippocastanum,4.0,1.6,8.2,1.2,2.0,3.1,5.7,0.4,S.GIUSEPPE-S.CHIARA
5867,Aesculus hippocastanum,11.0,22.2,750.3,3.3,11.0,95.0,517.2,36.2,CENTRO STORICO PIEDICASTELLO

In [23]:
ass2_df.to_csv("data/ass2.csv")