In [1]:
import geopandas as gpd

In [2]:
tree_df = gpd.read_file("data/geo_data_trees.geo.json")

In [3]:
cols_save = ['Name', 'Carbon Storage (kg)', 'Total Annual Benefits (eur/yr)']
tree_df = tree_df[cols_save]
tree_df

,Name,Carbon Storage (kg),Total Annual Benefits (eur/yr)
0,Acer pseudoplatanus,12,0.21
1,Acer pseudoplatanus,12.9,0.23
2,Acer pseudoplatanus,16.2,0.25
3,Acer pseudoplatanus,25.7,0.34
4,Cupressus,448.2,1.85
...,...,...,...
12508,Philadelphus,396.2,2.11
12509,Forsythia x intermedia,320.9,2.34
12510,Aucuba japonica,356.2,1.46
12511,Osmanthus fragrans,240.7,1.17
12512,Total,5484735,25099

In [4]:
tree_df2 = tree_df.copy()
tree_df2['count'] = tree_df2.groupby(['Name'])['Name'].transform('count')
tree_df2 = tree_df2.sort_values(by='count', ascending=False)

In [5]:
top_list = ['Celtis australis', 'Aesculus hippocastanum', 'Carpinus betulus', 'Tilia cordata', 'Platanus x hispanica', 'Tilia x europaea', 'Acer campestre', 'Cupressus', 'Sophora japonica']
def replace_species(x):
    if x in top_list:
        return x
    else:
        return "other"
tree_df2['Name'] = tree_df2['Name'].apply(replace_species)

In [6]:
var_left = 'Carbon Storage (kg)'
var_right = 'Total Annual Benefits (eur/yr)'

tree_df2['Storage per species'] = tree_df2.groupby(['Name'])[var_left].transform('sum')
tree_df2['Euro saved per species'] = tree_df2.groupby(['Name'])[var_right].transform('sum')
tree_df2.to_csv("data/ass5.csv")