In [5]:
import geopandas as gpd
#import pandas as pd; pd.set_option("display.max_rows", None)

In [6]:
circo_df = gpd.read_file("data/circoscrizioni.json")
circo_df = circo_df[['numero_cir', 'nome', 'geometry']]
circo_df.head()

,numero_cir,nome,geometry
0,2,MEANO,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
1,3,BONDONE,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
2,4,SARDAGNA,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
3,6,ARGENTARIO,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
4,11,S.GIUSEPPE-S.CHIARA,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [7]:
circo_geometry_col = circo_df["geometry"]

In [ ]:
!type data\geo_data_trees.geo.json

In [8]:
tree_df = gpd.read_file("data/geo_data_trees.geo.json")
#tree_df = tree_df[['Tree ID', 'Name', 'geometry']]
tree_df

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [ ]:
def get_circoscrizione(tree_point):
    for idx_polygon, polygon in circo_geometry_col.items():
        if tree_point == None: return "None"
        if tree_point.within(polygon):
            return  circo_df['nome'][idx_polygon]

In [ ]:
tree_df2 = tree_df.copy()
tree_df2['circoscrizione'] = ""
tree_df2['circoscrizione']= tree_df2['geometry'].map(get_circoscrizione)

In [ ]:
tree_df2

In [ ]:
top_list = ['Celtis australis', 'Aesculus hippocastanum', 'Carpinus betulus', 'Tilia cordata', 'Platanus']

def replace_species(x):
        if x in top_list:
            return x
        else:
            return "other"

tree_df3 = new_tree_df.copy()
tree_df3['Name'] = tree_df3['Name'].apply(replace_species)
tree_df3

In [ ]:
tree_df4 = tree_df3.copy()
tree_df4 = tree_df4.drop(["geometry", "Tree ID"], axis=1)
tree_df4['count'] = tree_df4.groupby(['circoscrizione', 'Name'])['Name'].transform('count')
tree_df4 = tree_df4.drop_duplicates()
tree_df4 = tree_df4.sort_values(by='circoscrizione', ascending=True)
tree_df4

In [ ]:
tree_df4.to_csv("circos_per_trees.csv")

### provando plot

df.plot("fumetto", legend=True)

In [ ]:
tree_df.explore()

In [ ]:
tree_df.plot()

In [ ]:
tree_df.iloc[0].plot()

In [ ]:
ax = circo_df["geometry"].plot()
tree_df.iloc[0].plot(ax=ax, color="black")

In [ ]:
ax, fig = mat

In [ ]:
df['centroid'] = df.centroid

In [ ]:
ax = df["geometry"].plot()
df["centroid"].plot(ax=ax, color="black")

In [ ]:
meano = df.loc[0, "geometry"]
meano