In [1]:
import pandas as pd
df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
def normalizer(elem):
    return (elem - min_v) / ((max_v - min_v)).sum();

max_v = df['b'].max();
min_v = df['b'].min();
df['b'] = df['b'].apply(normalizer);
df

   a    b   c
1  4  0.0  10
2  5  0.5  11
3  6  1.0  12